<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pagina_n_i</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Krona+One&amp;display=swap">
    <link rel="stylesheet" href="assets/css/Banner-Heading-Image-images.css">
</head>

<body>
    <nav class="navbar navbar-expand-md bg-body" style="background: rgb(217,236,8) !important;">
        <div class="container-fluid"><img src="assets/img/logoUNAM.png" width="73" height="74"><img src="assets/img/LogoCCH.png" width="75" height="74"><img src="assets/img/logoCCHO.png" width="76" height="72"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active text-center" href="index.html" style="font-weight: bold;">Bienvenido</a></li>
                    <li class="nav-item"><a class="nav-link text-center" href="Instructivo.html">Instructivo de inscripción</a></li>
                    <li class="nav-item"><a class="nav-link text-center" href="Calendario.html">Calendario</a></li>
                    <li class="nav-item"><a class="nav-link text-center" href="Horario.html">Horario personalizado</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/datos.js"></script>
</body>

</html>